<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speech Emotion Recognition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="head">
        <h1>Speech Emotion Recognition</h1> <br />
        <!-- Button-like link to the About page -->
        <div class="about-button">
            <a href="{{ url_for('about') }}">About</a>
        </div>
    </div>
    <div class="body">
        <div class="container">
            <h3>Enter Audio:</h3> <br />
            <form action="/" method="post" enctype="multipart/form-data">
                <input type="file" name="audio" accept=".wav" required>
                <button type="submit">Predict Emotion</button>
            </form>
        </div>
    </div>

</body>


</html>